/*----------  variables
------------------------------------------------------------------------------*/


// Colors
$white                 : #fff;
$black                 : #000;

$blue-light            : #ebf2fc;

$blue                  : #004ef8;
$blue-hover            : #003ec5;
$blue-darker           : #0028f3;
$blue-dark             : #081f3f;
$blue-darkest          : #061731;
$blue-axa			   : #04058e;

$green                 : #26b96d;
$green-hover           : #219c4d;
$switch-green          : #2dc27a;

$greyf3                : #f3f3f3;
$greyf4                : #f4f4f4;
$greyf5	               : #f5f5f5;
$greye2                : #e2e2e2;
$greye4                : #e4e4e4;
$greyd2                : #d2d2d2;
$grey9d                : #9d9d9d;
$grey76                : #767676;
$grey53                : #535353;
$grey41                : #414141;
$grey3                 : #333333;
$greyfa                : #fafafa;
$grey20                : #202020;


$yellow                : #ffb305;
$yellow-dark           : darken($yellow, 8);

$red-light             : #fae7e7;
$red                   : #cf1212;
